setuptools==70.0.0 
numpy==1.26.4
imagecodecs==2024.9.22
magicgui==0.9.1 
matplotlib==3.9.0
openpyxl==3.1.5 
pandas==2.2.3 
pillow==10.3.0
PySide6==6.7.3
pystackreg==0.2.8 
QtPy==2.4.1 
scikit-image==0.23.2
seaborn==0.13.2
tifffile==2024.5.22
wxPython==4.2.2 
xlrd==2.0.1