cellpose==2.0.4
numpy==1.26.4
numba==0.60.0
networkx==3.4
tifffile==2024.9.20
tqdm==4.66.5
scipy==1.14.1
natsort==8.4.0
opencv-python-headless==4.9.0.80
certifi==2024.8.30 
charset-normalizer==3.3.2
colorama==0.4.6
fastremap==1.14.1
graphviz==0.20.3
idna==3.7
imageio==2.34.1
intel-openmp==2021.4.0
llvmlite==0.43.0
mxnet==1.2.0


packaging==24.0
pillow==10.3.0
pyparsing==3.1.2
pytorch-ranger==0.1.1
PyWavelets==1.6.0 
requests==2.32.2
scikit-image==0.23.2
torch @ https://download.pytorch.org/whl/cu118/torch-2.3.1%2Bcu118-cp312-cp312-win_amd64.whl
typing_extensions==4.12.1
urllib3==2.2.3
