cellpose==2.0.4
certifi==2021.10.8
charset-normalizer==2.0.10
colorama==0.4.4
fastremap==1.12.2
graphviz==0.19.1
idna==3.3
imageio==2.13.5
intel-openmp==2022.0.0
llvmlite==0.38.0
mxnet==1.2.0
natsort==8.0.2
networkx==2.6.3
numba==0.55.0
numpy==1.21.5
opencv-python-headless==4.5.5.62
packaging==21.3
Pillow==9.0.1
pyparsing==3.0.6
pytorch-ranger==0.1.1
PyWavelets==1.2.0
requests==2.27.1
scikit-image==0.19.1
scipy==1.7.3
tifffile==2021.11.2
torch @ https://download.pytorch.org/whl/cu113/torch-1.10.2%2Bcu113-cp39-cp39-win_amd64.whl
tqdm==4.62.3
typing_extensions==4.0.1
urllib3==1.26.8
